* {
  margin: 0;
}

.app {
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding-block: 1rem;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.1);
}

.chartsHolder {
  margin: 1rem;
  width: calc(100vw - 2rem);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 3.5rem;
  min-height: 600px;
}

.barChart,
.scatterChart {
  height: 300px;
  width: 85%;
  min-width: 300px;
  margin-block: 1.2rem;
  margin-inline: auto;
  padding-block: 1rem;
}

.footer {
  position: relative;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  padding-block: 1rem;
  background-color: white;
  font-weight: 500;
}
